alias ls="ls -h --color=tty --group-directories-first"
alias ls.="ls -d .?*"
alias lsa="ls -A"
alias l="ls -l"
alias ll="l"
alias la="l -A"
alias l.="l -d .?*"

# cd and print dir contents
c() { cd "$@" && l; }
alias c.='c .'
alias c..='c ..'
alias c...='c ../..'
alias c....='c ../../..'
alias c.....='c ../../../..'
alias c-='c -'

# Same syntax for default cd
alias cd.='cd .'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias cd.....='cd ../../../..'
alias cd-='cd -'

# Human-readable sizes
alias df='df -h'
alias du='du -h'
alias free='free -h'

# Confirm before overwriting something
alias cp="cp -i"

# Quick access to some common programs or files
alias chrome="google-chrome"


find_in_files() { 
	if [ $# -eq 0 ]
	then
		echo "No filename to search for"
	else
		grep -ir "$*" * ;
	fi
}
find_files() {
	find . -iname "*$@*" | grep "$*" -i
}
alias f="find_files"
alias F="find_in_files"

alias o="xdg-open"

# Force 256 colors in tmux
# Start in ~/.tmux so that logs are written there
# But make sure the working directory is still HOME
alias tmux='cd ~/.tmux && tmux -2 new -c $HOME'
