#============================================
# Customizations for Readline (used by Bash)
#============================================

$include /etc/inputrc


# Alt-u: Go to parent directory
"\eu": "cd ..\015"

# Replace Tab-Tab with a single Tab
set show-all-if-ambiguous on

# Case insensitive completion
set completion-ignore-case on

# Search history beginning with current string, using up/down arrows
"\e[A": history-search-backward
"\e[B": history-search-forward
